
.sidebar-fixed-offcanvas .sidebar-with-footer, .sidebar-fixed .sidebar-with-footer {
    padding-bottom: 0;
}
.login-alert{
  display:none;
}
.reveal {
	background: none;
	border: 1px solid;
	border-color: #e5e9f2;
	padding: 0.5rem 0.8rem;
	font-size: 18px;
}
.trash-icon{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
}
.color-card {
    width: 100%;
    height: 100px;
}